* {
  box-sizing: border-box;
}

body {
  font-family: verdana;
}

div.product-name {
  display: inline;
}

p.product-name,
p.product-price {
  display: inline;
  padding: 0;
}

ul.products {
  float: left;
  width: 33%;
  padding: 35px 0 0 0;
  margin: 0 auto;
}


li.products {
  list-style: none;
  margin-left: 50px;
  position: relative;
  margin-right: 0;
  border: 3px solid #5ca4d6;
}

img.t-shirt {
  width: 300px;
  opacity: 0.90;
  height: auto;
  margin: 30px 0 30px 25px;
  position: relative;
}

div.shop-box {
  border-top: 3px solid #5ca4d6;
  height: 50px;
}

ul.icons {
  padding-left: 0;
  width: 100%;
}

p.icons {
  font-size: 18px;
  margin: 0;
}

li.icons {
  list-style: none;
  float: left;
  height: auto;
  line-height: 50px;
  width: 20%;
  border-left: 3px solid #5ca4d6;
}

li.icons:first-child {
  border-left: none;
}

li.icons:hover,
i.fa-undo:hover {
  background: #5ca4d6;
  color: #fff;
}

p {
  padding-left: 30%;
  color: #5ca4d6;
}

i.fa {
  font-weight: bold;
  font-size: 20px;
  padding-left: 33%;
  color: #5ca4d6;
}

i.fa:hover,
p.icons:hover {
  color: #fff;
}

i.fa-undo {
  border-left: 3px solid #5ca4d6;
  border-bottom: 3px solid #5ca4d6;
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
}

li #square {
  margin: 10px 0 10px 20px;
}
#square {
	width: 30px;
	height: 30px;
  border: 3px solid #fff;
	background: #82BBE4;
}

li.product-name,
li.product-price {
  list-style: none;
  color: #5ca4d6;
  padding-top: 15px;
  font-size: 27px;
  font-family: "avenir";
}

li.product-name {
  float: left;
  padding-left: 15px;
}

li.product-price {
  float: right;
  padding-right: 5px;
  font-weight: bold;
}

li.shirt-colors,
li.shirt-sizes {
  list-style: none;
}

li.shirt-sizes {
  position: relative;
  display: inline-block;
}

div.shirt-sizes {
  background: red;
  width: 100%;
  position: absolute;
  top: -50px;
  bottom: 0;
  z-index: 5;
}

p.shirt-sizes {
  margin: 0;
  padding: 0;
}

li.shirt-colors {
  float: left;
}


#blue-square {
	width: 30px;
	height: 30px;
  border: 3px solid #fff;
	background: #82BBE4;
}

#pink-square {
	width: 30px;
	height: 30px;
  border: 3px solid #fff;
	background: #d583ac;
}

#yellow-square {
	width: 30px;
	height: 30px;
  border: 3px solid #fff;
	background: #deb17e;
}

#green-square {
	width: 30px;
	height: 30px;
  border: 3px solid #fff;
	background: #8bb992;
}
