* {
  box-sizing: border-box;
}

body {
  font-family: verdana;
  color: #5ca4d6;
}

div.product-name {
  display: inline;
}

p.product-name,
p.product-price {
  display: inline;
  padding: 0;
}

ul.products {
  float: left;
  width: 33%;
  padding: 35px 0 0 0;
  margin: 0 auto;
}

li.products {
  list-style: none;
  margin-left: 50px;
  position: relative;
  margin-right: 0;
  border: 3px solid #5ca4d6;
}

img.t-shirt {
  width: 300px;
  opacity: 0.90;
  height: auto;
  margin: 30px 0 30px 25px;
  position: relative;
}

div.shop-box {
  border-top: 3px solid #5ca4d6;
  height: 50px;
}

ul.icons {
  padding-left: 0;
  width: 100%;
}

p.icons {
  font-size: 18px;
  margin: 0;
  line-height: 50px;
}

li.icons {
  list-style: none;
  float: left;
  height: auto;
  line-height: 50px;
  width: 20%;
  border-left: 3px solid #5ca4d6;
}

li.icons:first-child {
  border-left: none;
}

li.icons:hover,
i.fa-undo:hover {
  background: #5ca4d6;
  color: #fff;
}

p {
  padding-left: 30%;
}

i.fa {
  font-weight: bold;
  font-size: 20px;
  padding-left: 33%;
}

i.fa:hover,
p.icons:hover {
  color: #fff;
}

i.fa-undo {
  border-left: 3px solid #5ca4d6;
  border-bottom: 3px solid #5ca4d6;
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
}

li #square {
  margin: 10px 0 10px 20px;
}
#square {
	width: 30px;
	height: 30px;
  border: 3px solid #fff;
	background: #82BBE4;
}

li.product-name,
li.product-price {
  list-style: none;
  padding-top: 15px;
  font-size: 27px;
  font-family: "avenir";
}

li.product-name {
  float: left;
  padding-left: 15px;
}

li.product-price {
  float: right;
  padding-right: 5px;
  font-weight: bold;
}

li.shirt-colors,
li.shirt-sizes {
  list-style: none;
}

li.shirt-sizes {
  position: relative;
  display: inline-block;
}

div.shirt-sizes {
  border: 3px solid #5ca4d6;
  background: #fff;
  display: none;
  width: 88px;
  position: absolute;
  top: -206px;
  left: -10px;
  z-index: 5;
}

li.shirt-sizes:hover div.shirt-sizes {
  display: block;
}

.icon-t-shirt {
  color: #5ca4d6;
}

li.triangle {
  line-height: 30px;
  list-style: none;
}

span#white-triangle-shirt {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 9.5px 0 9.5px;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  z-index: 1;
  bottom: -10px;
  left: 31px;
}

span#blue-triangle-shirt {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 10.5px 0 10.5px;
  border-color: #5ca3d6 transparent transparent transparent;
  position: absolute;
  bottom: -15px;
  left: 30px;
}

p.shirt-sizes {
  position: relative;
}

li.icons.shirt-sizes {
  line-height: 30px;
}
p.x-large, p.large, p.medium, p.small {
  margin: 0 0 0 11px;
}

p.x-large {
  padding-top: 27px;
  padding-left: 4px;
}

p.large {
  padding: 5px 0 0 7px;
}

p.medium {
  padding: 5px 0 0 10px;
}

p.small {
  padding: 5px 0 20px 13px;
}

#x-large {
  font-size: 10px;
  position: absolute;
  top: 31px;
  left: 24px;
}

#large {
  font-size: 10px;
  position: absolute;
  top: 6px;
  left: 26px;
}

#medium {
  font-size: 10px;
  position: absolute;
  top: 6px;
  left: 25px;
}

#small {
  font-size: 10px;
  position: absolute;
  top: 6px;
  left: 25px;
}

#icon-x-large, #icon-large, #icon-medium, #icon-small {
  line-height: 25px;
}

#icon-x-large {
  font-size: 37px;
}

#icon-large {
  font-size: 32px;
}

#icon-medium {
  font-size: 27px;
}

#icon-small {
  font-size: 22px;
}

ul.shirt-sizes {
  padding: 0;
}

li.shirt-colors {
  position: relative;
  display: inline-block;
  line-height: 30px;
}

div.color-menu {
  padding-left: 8px;
}

li.shirt-colors:hover div.shirt-colors {
  display: block;
}


div.shirt-colors {
  border: 3px solid #5ca4d6;
  background: #fff;
  display: none;
  width: 88px;
  position: absolute;
  top: -89px;
  left: -9px;
  z-index: 5;
}

li.shirt-colors:first-child {
  padding-top: 7px;
}

ul.shirt-colors {
  padding: 0;
  height: 83px;
}

#blue-square {
	width: 30px;
	height: 30px;
	background: #82BBE4;
}

#pink-square {
	width: 30px;
	height: 30px;
	background: #d583ac;
}

#yellow-square {
	width: 30px;
	height: 30px;
	background: #deb17e;
}

#green-square {
	width: 30px;
	height: 30px;
	background: #8bb992;
}
